body{
    margin: 0;
    padding: 0;
    background-color: #dddede;
}

/* section news header */

.news-hader{
    margin-left: 60px;
    margin-top: 35px;
    padding-top: 35px;
    display: flex;
}

.news-header-left{
    width: 28%;
    height: 75px;
    background-color: #e2de97;
    display: flex;
}

.news-image-left img{
    width: 130px;
    height: 75px;
}

.news-text-left{
    font-size: 12px;
    margin-left: 15px;
}

.news-text-left h4{
    margin: 10px 0px 0px;
}

.news-text-left p{
    margin: 0px 0px 5px;
}

.news-header-right{
    width: 28%;
    height: 75px;
    margin-left: 15px;
    background-color: #e2de97;
    display: flex;
}

.news-image-right img{
    width: 130px;
    height: 75px;
}

.news-text-right{
    font-size: 12px;
    margin-left: 15px;
}

.news-text-right h4{
    margin: 10px 0px 0px;
}

.news-text-right p{
    
    margin: 0px 0px 5px;
}

/* section news title */

.news-title{
    width: 88%;
    height: 100px;
    padding-left: 10px;
    padding-bottom: 45px;
    background-color: yellow;
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    
}

.news-title-text h1{
    width: 100%;
    margin-top: auto;
    font-size: 10vw;
}

.news-title-text-right {
    width: 105px;
    height: 50px;
    margin-top: 35px;
}

.news-title-text-right p{
    font-size: 12px;
    margin: 50px 0 0 12px;
}

/* gird container */

.grid-container{
    max-width: 90%;
    height: 1200px;
    padding-bottom: 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 20% 10% 15% 10% 45%;
    grid-template-rows: 20% 27% 28% 8% 8% 3% 2% 4%;
}

.grid-item1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 9;
}

.grid-item1 img{
    width: 95%;
    height: 100%;
    margin-left: 15px;
}

.grid-item2 h1, h2, h4, p{
    margin: 0;
    margin-top: 10px;
}

.grid-item2 .grid-item2-title h2{
    width: 100%;
    margin-top: 20px;
    background-color: yellow;
}

.grid-item3{
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item3 img{
    width: 100%;
    height: 55%;
}

.grid-item3 h1, p{
    margin: 0;
}

.grid-item4{
    grid-row-start: 3;
    grid-row-end: 4;
    z-index: 1;
}

.grid-item4 img{
    width: 100%;
    height: 55%;
}

.grid-item4 h1, p{
    margin: 0;
}

.grid-item5{
    max-width: 100%;
    background-color: #dddede;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.grid-item5 h1{
    width: 100%;
    font-size: 6vw;
    margin: 0;
}

.grid-item6{
    background-color:#dddede;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.grid-item6 h1{
    width: 100%;
    font-size: 6vw;
    margin: 0;
}

.grid-item7{
    background-color: #dddede;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: 5px;
}

.grid-item7 h4{
    font-size: 1.8vw;
    margin: 0;
    
}

.grid-item8{
    background-color:#dddede;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
}

.grid-item8 h4{
    margin: 0;
    font-size: 1.8vw;
}

@media screen and (max-width: 1123px){
    .news-header-left{
        width: 45%;
    }

    .news-header-right{
        width: 45%;
    }

    .news-title-text-right p{
        font-size: 12px;
        margin: 30px 0 0 12px;
    }

    .grid-item2 .grid-item2-title h2{
        margin-top: 5px;
    }

    .grid-item5 h1{
        margin-top: 15px;
    }
}

@media screen and (max-width: 900px){
    .news-title {
        width: 85%;
        height: 65px;
    }

    .news-title-text-right p{
        font-size: 12px;
        margin: 0px 0 0 12px;
    }

    .grid-item2 .grid-item2-title h2{
        margin-top: 20px;
    }

    .grid-container{
        grid-template-columns: 25% 5% 30% 15% 10% 10% 5%;
        grid-template-rows: 51% 8% 8% 4% 4% 25%;
    }
    
    .grid-item1{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .grid-item2{
        margin: 10px 10px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .grid-item3{
        margin: 10px 0 0 10px ;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .grid-item4{
        margin: 10px 10px;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .grid-item5{
        height: 90%;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid-item6{
        height: 90%;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .grid-item7{
        margin-top: 0;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .grid-item8{
        height: 20px;
        margin: 5px 10px;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }

}

@media screen and (max-width: 680px){
    .news-hader{
        width: 400px;
        display: block;
        margin-left: 35px;
    }
    .news-header-right{
        width: 400px;
        margin: 10px 0;
    }

    .news-header-left{
        width: 400px
    }

    .news-title{
        height: 45px;
        margin-left: 35px;
        display: block;
    }

    .news-title-text h1{
        margin: 0;
    }

    .news-title-text-right {
        width: 400px;
        height: 150px;
        margin: 0;
    }

    .news-title-text-right p{
        font-size: 12px;
        margin: 0;
    }

    .grid-container{
        grid-template-columns: 25% 5% 30% 15% 10% 10% 5%;
        grid-template-rows: 20% 8% 8% 4% 4% 25%;
    }

    .grid-item1{
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .grid-item2{
        margin: 10px 10px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .grid-item3{
        margin: 10px 0 0 10px ;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }

    .grid-item4{
        margin: 10px 10px;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .grid-item5{
        height: 50%;
        margin-top: 80px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .grid-item5 h1{
        margin: 0px 0 10px;
    }

    .grid-item6{
        height: 50%;
        margin-top: 32px;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .grid-item7{
        height: 60%;
        margin-top: 10px;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .grid-item8{
        height: 30%;
        margin: 0px 10px;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }


}